body {
    width: 1920px;
    margin: 0;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    /* padding-left: 220px;
    padding-right: 220px; */
}

button {
    font-size: 18px;
}

h2 {
    font-size: 64px;
    color: #fff;
    margin: 0;
    padding-bottom: 24px;
}

.main-container {
    width: 1480px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1920px;
    height: 92px;
    background-color: #043873;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 191px;
    height: 34px;
    padding-top: 29px;
    padding-bottom: 29px;
    margin-left: 220px;
}

.menu-container {
    padding-top: 34px;
    padding-bottom: 34px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.arrow-d {
    padding-right: 32px;
    cursor: pointer;
}

.button-login {
    width: 126px;
    height: 60px;
    color: #043873;
    background-color: #FFE492;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.button-tryfree {
    width: 227px;
    height: 60px;
    color: #fff;
    background-color: #4F9CF9;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 220px;
    cursor: pointer;
}

.background-part-1 {
    width: 1920px;
    height: 829px;
    background-color: #043873;
    z-index: -2;
}

.lines {
    z-index: -1;
    color: #FFE492;
}

.content-container-1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 326px;
    left: 220px;
}

.left-container {
    display: block;
    width: 656px;
}

.describe-1 {
    color: #fff;
    margin: 0;
    padding-bottom: 60px;
}

.alt-img-1 {
    background-color: #C4DEFD;
    width: 824px;
    height: 549px;
    position: absolute;
    top: 232px;
    left: 876px;
}

.background-part-2 {
    /* background-color: #fff; */
    z-index: -3;
}

.element-2 {
    color: #CCCCCC;
    z-index: -2;
    position: absolute;
    top: 1186px;
    left: -162px;
}

.element-3 {
    z-index: -1;
    position: absolute;
    top: 1230px;
    left: 220px;
}

.content-container-2 {
    width: 672px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1061px;
    left: 220px;
}

.left-container-2 {
    width: 672px;
    /* position: absolute;
    top: 1129px;
    left: 220px; */
}

.h-2-2 {
    width: 400px;
    color: #000;
    padding-top: 68px;
    padding-bottom: 24px;
}

.describe-2 {
    color: #000;
    margin: 0;
    padding-bottom: 60px;
}

.alt-img-2 {
    width: 748px;
    height: 547px;
    background-color: #C4DEFD;
    position: absolute;
    top: 1061px;
    left: 952px;
}

.content-container-3 {
    display: flex;
    width: 1480px;
    padding-top: 787px;
    padding-left: 220px;
}

.right-container {
    margin-left: 100px;
}

.h-2-3 {
    color: #000;
    padding-top: 168px;
    padding-bottom: 24px;
}

.element-4 {
    position: absolute;
    top: 1942px;
    left: 1210px;
    z-index: -1;
}

.describe-3 {
    margin: 0;
    padding-bottom: 60px;
}